.journal-clickable {
  cursor: pointer;
}
.journal-title {
  margin-left: 18px;
}

.journal-week-view,
.journal-month-view {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  gap: 6px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.journal-month-with-week {
  grid-template-columns: 35px repeat(7, 30px);
}
.journal-calendar-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}
.journal-weeknumber {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-weekday {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.journal-day {
  font-size: 0.7em;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 28px;
  line-height: 26px;
  width: 28px;
  text-align: center;
}

.journal-day:hover {
  border-color: var(--background-modifier-border);
  background-color: var(--background-secondary);
}

.is-selected .journal-day {
  background-color: var(--background-secondary);
}

.journal-is-today {
  color: var(--text-accent);
  font-weight: 600;
}

.journal-day-of-week {
  color: var(--text-muted);
  font-size: 0.65em;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.is-selected .journal-day-of-week {
  color: var(--text-normal);
}

.journal-is-not-same-month {
  color: var(--code-comment);
}
